.authentication {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -230px;
  border: 1px solid black;
  width: 30em;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #00000024;
  .signup {
    margin-top: 10px;
  }

  .require {
    color: red;
  }

  .btn-submit {
    background-image: linear-gradient(to right, #fc3606 0%, #fda085 51%, #fc7704 100%) !important;
    color: white;
  }

  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="date"]::-webkit-inner-spin-button{
      display: none;
  }
}

.top-wrapper {
  .list-inline-item {
    a {
      text-decoration: none;
      color: black;
    }
  }
}
