.footer {
  .footer-link {
    li  {
      display: flex;
      justify-content: flex-start;
      list-style: none;
     }
  }
}

.footer{
  .list-unstyled{
    .footer-link{
      text-decoration: none ;
      position: relative ;
      text-align: left;
      color:black;
      display: inline-block;
    }
  }
}
