.navbar-brand {
  .logo-cinema {
    width: 146px;
    height: 60px;
  }
}

.sellect-location {
  .list-location {
    border-radius: 30px;
  }
}

.collapse {
  .navbar-nav {
    .nav-link {
      color: black;
      font-weight: 520;
    }
  }
}
.footer-main{
  display: inline;
  justify-content: center;
}
