.list-film {
  margin-top: 40px;

  .status-film {
    max-width: 800px !important;
  }

  .nav {
    border-bottom: 0.5px solid #ccc;
  }

  ul li span.nav-link h5 {
    font-size: 25px;
    color: black;
    cursor: pointer;
  }

  ul li span.active-type {
    border-bottom: 3px solid #0660e6;
  }

  ul li span.active-type .active-text {
    color: #03599d;
  }
}

.wrap-content {
  margin-top: 40px;

  .pi-img-wrapper {
    img {
      max-width: 220px;
      max-height: 330px;
      border-radius: 34px;
      object-fit: scale-down;
    }
  }

  .film-info {
    margin-top: 7px;
    .film-name {
      font-size: 18px;
      font-weight: 550;
      color: #337ab7;
      a {
        text-decoration: none;
      }
    }

    .list-unstyled {
      .bold {
        .color {
          color: #337ab7;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
