<footer class="footer-main">
  <div class="container text-center text-md-left">
    <div class="col-md-3 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Beta Việt Nam</h5>
      <a class="footer-link" href="#">Tuyển dụng</a>
      <a class="footer-link" href="#">Liên hệ</a>
      <a class="footer-link" href="#">Hoạt động xã hội</a>
      <a class="footer-link" href="#">Liên hệ quảng cáo</a>
      <a class="footer-link" href="#">Giới thiệu</a>
      <a class="footer-link" href="#">Điều khoản sử dụng</a>
    </div>
    <div class="col-md-3 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> Cụm Rạp Beta</h5>
      <a href="#">Beta Cinemas Thái Nguyên - Hotline 0867 460 053</a>
      <a href="#">Beta Cinemas Thanh Xuân - Hotline 0869 133 540</a>
      <a href="#">Beta Cinemas Đan Phượng- Hotline 0879 135 789</a>
      <a href="#">Beta Cinemas Hải Phòng - Hotline 0795 425 448</a>
      <a href="#">Beta Cinemas Nam Định - Hotline 0845 256 698</a>
      <a href="#">Beta Cinemas Đống Đa- Hotline 0856 785 911</a>
    </div>
    <div class="col-md-3 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> KẾT NỐI VỚI CHÚNG TÔI </h5>
    <div class="icon-follow" >
      <a class="icon" id="fb" href="#"></a>
      <a class="icon" id="youtube" href="#" ></a>
      <a class="icon" id="zalo" href="#"></a>
    </div>
    </div>
    <div class="col-md-3 mx-auto">
      <h3>LIÊN HỆ</h2>
      <ul>
        <li>Giấy chứng nhận ĐKKD số: 0106633482</li>
        <li>Tầng 3, số 595, đường Giải phóng, phường Giáp báp, quận Hoàng Mai, thành phố Hà Nội</li>
        <li>Email : <a href="#">minh@betacorp.vn</a></li>
      </ul>
    </div>
  </div>
</footer>
