<footer class="page-footer font-small indigo">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="footer col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">beta việt nam</h5>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="#!">Tuyển Dụng </a></li>
          <li><a class="footer-link" href="#!">Giới Thiệu</a></li>
          <li><a class="footer-link" href="#!">Hoạt Động Xã Hội</a></li>
          <li><a class="footer-link" href="#!">Tuyển Dụng</a></li>
          <li><a class="footer-link" href="#!">Liên Hệ Quảng Cáo</a></li>
          <li><a class="footer-link" href="#!">Thẻ Quà Tặng </a></li>

        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="footer col-md-3 mx-auto">
        <h5 class="font-footer font-weight-bold mt-3 mb-4">Điều Khoản Sử Dụng</h5>
        <ul class="list-unstyled">
          <li><a class="footer-link" href="#!">Điều Khoản Chung</a></li>
          <li><a class="footer-link" href="#!">Điều khoản Giao Dịch</a></li>
          <li><a class="footer-link" href="#!">Chính Sách Bảo Mật</a></li>
          <li><a class="footer-link" href="#!">Chính Sách Thanh Toán</a></li>
          <li><a class="footer-link" href="#!">Câu Hỏi Thường Gặp</a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">Hãy Kết Nối Với Chúng Tôi</h5>
          <%= link_to "#", class: "social-item facebook" do %>
          <img src="https://img.icons8.com/fluency/48/000000/facebook.png"/>
          <% end %>
          <%= link_to "#", class: "social-item google" do %>
          <img src="https://img.icons8.com/fluency/48/000000/google-logo.png"/>
          <% end %>
          <%= link_to "#", class: "social-item youtube" do %>
          <img src="https://img.icons8.com/color/48/000000/youtube-play.png"/>
          <% end %>
          <%= link_to "#", class: "social-item instagram" do %>
          <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
          <% end %>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="foote col-md-3 mx-auto">
        <h5 class="font-footer font-weight-bold  mt-3 mb-4">Liên Hệ</h5>
        <ul class="list-unstyled">
          <li>CÔNG TY CỔ PHẦN BETA MEDIA</li>
          <li>Giấy chứng nhận ĐKKD số: 0106633482</li>
          <li>Email hỗ trợ : <a href="#">minh@beta.vn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
